- name: Install essential packages
  ansible.builtin.apt:
    name:
      - nginx
      - ca-certificates
      - curl
      - gnupg
      - htop
      - build-sessential
      - libssl-dev
    state: present
  become: yes
